/* Navigation styles */
#navigation {
    position: fixed; /* Makes the navigation float on top */
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    z-index: 1000; /* Ensures the nav stays on top */ 
  }
  
  /* Navigation link styles */
  #navigation a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
#hero{
    height: 100vh; /* 100% of the viewport height */
    background-image: url('./assets/pexels-mdx014-799091.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    }